* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif text-xs;
}
.banner {
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center;
}

.inicio {
  height: 320px;
  background-color: #0f2b41;
}

footer {
  background-color: #0f2b41;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

img {
  margin: 0 auto;
}
